@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background-color: #1e1e1e;
  color: white;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #1e1e1e;
}

::-webkit-scrollbar-thumb {
  background: #14f195;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0dd978;
}
